bucket                      = "lanilsen-terraform-state"
key                         = "terraform-fortigate/vpn-palo-ipv6/terraform.tfstate"
region                      = "auto"
endpoints                   = { s3 = "https://10fe772bf2d6ab4c5ec76c0aceba8ae6.r2.cloudflarestorage.com" }
use_lockfile                = true
skip_credentials_validation = true
skip_metadata_api_check     = true
skip_region_validation      = true
skip_requesting_account_id  = true
skip_s3_checksum            = true
use_path_style              = true